# FsubBot
API_ID=
API_HASH=
BOT_TOKEN=
MONGO_URL=
LOG_GRP=
BOT_ID=
OWNER_ID=
WALLET_NO=       #no ewallet (dana|ovo|gopay|dll)
WALLET_NAME=     #atas nama ewallet
BCA_NO=          # no BCA
BCA_NAME=        # atas nama BCA
QRIS=            # ini contoh penggunaan qris -> [QRIS](https://t.me/excute7)
QRIS_NAME=       # atas nama qris
